NEXT_PUBLIC_ONCHAINKIT_API_KEY=
NEXT_PUBLIC_ROOT_URL=http://localhost:3000
NEXT_PUBLIC_BASE_RPC_URL=https://base.llamarpc.com
ALCHEMY_BASE_KEY=
# or provide full HTTP URL
# ALCHEMY_BASE_HTTP=
NEXT_PUBLIC_LP_COOLDOWN_MS=15000

